.container {
  position: relative;
  height: 100vh;
}

.bg {
  background-color: #fffbda;
  position: absolute;
  height: 80vh;
  width: 100%;
}

.bgGrass {
  background-color: #c2f054;
  height: 20vh;
  width: 100%;
  position: absolute;
  top: 80vh;
}

img {
  position: absolute;
}

img.alignCenter {
  left: 50%;
  transform: translateX(-50%);
}

.control {
  /* top: 646px; */
  bottom: 0;
  z-index: 1;
}

.toggle {
  bottom: 10px;

  z-index: 1;
}

.character {
  bottom: 90px;
}

.sun {
  top: 10px;
}

.toolbar {
  width: 300px;
  height: 200px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  position: absolute;
  z-index: 2;
  bottom: 0;
}

.smile {
  position: absolute;
  left: 42%;
}

.stress {
  position: absolute;
  left: 78%;
  top: 50%;
}

.graph {
  position: absolute;
  left: 3%;
  top: 50%;
}
