/* Taejin Kim */

.container {
  position: relative;
  height: 100vh;
}

.bg {
  background-color: #fffbda;
  position: absolute;
  height: 80vh;
  width: 100%;
}

.bgGrass {
  background-color: #c2f054;
  height: 20vh;
  width: 100%;
  position: absolute;
  top: 80vh;
}

img {
  position: absolute;
}

img.alignCenter {
  left: 50%;
  transform: translateX(-50%);
}

.control {
  /* top: 646px; */
  bottom: 0;
  z-index: 1;
}

.toggle {
  bottom: 10px;

  z-index: 1;
}

.character {
  bottom: 90px;
}

.sun {
  top: 10px;
}

.toolbar {
  width: 300px;
  height: 200px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  position: absolute;
  z-index: 2;
  bottom: 0;
}

.smile {
  position: absolute;
  left: 42%;
}

.stress {
  position: absolute;
  left: 78%;
  top: 50%;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.graph {
  position: absolute;
  left: 3%;
  top: 50%;
}

.activitiesContainer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  width: 20rem;
}

.toolbarIcon {
  position: relative;
}

.toolbarIcon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  transition: opacity 0.3s;
  z-index: 1;
}
