.container {
  height: 100vh;
  background-color: #fffbda;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 77px;
}

.emotionsImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 204px;
  margin-bottom: 204px;
}

.emotionButton {
  position: absolute;
  width: 120px;
  height: 125.51px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
}

.emotionButton.active {
  background-color: rgba(30, 30, 30);
}

.emotionButton:nth-child(1) {
  top: -60px;
  left: 18%;
}

.emotionButton:nth-child(2) {
  top: -60px;
  left: 31%;
}

.emotionButton:nth-child(3) {
  top: -60px;
  left: 44%;
}

.emotionButton:nth-child(4) {
  top: -60px;
  left: 56%;
}

.emotionButton:nth-child(5) {
  top: -60px;
  left: 69%;
}

.emotionsImage {
  width: 600px;
  z-index: 1;
}

.button {
  width: 186px;
  height: 65px;
  border-radius: 50px;
  background-color: #fbc20f;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s;
  margin: 60px auto 0;
  display: block;
}

.button:hover {
  opacity: 0.85;
}
