.container {
  height: 100vh;
  background-color: #fffbda;
}

.title {
  padding-top: 119px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.innerContainer {
  margin-top: 244px;
  display: flex;
  justify-content: center;
  gap: 27px;
  margin-bottom: 255px;
}

.emotionButton {
  width: 120px;
  height: 120px;
  cursor: pointer;
  opacity: 0.5;
}

.emotionButton.selected {
  opacity: 1;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 186px;
  height: 65px;
  border-radius: 50px;
  background-color: #fbc20f;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s;
  display: block;
}

.button:hover {
  opacity: 0.85;
}
