/* Taejin Kim */

.container {
  height: 100vh;
  background-color: #fffbda;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 77px;
}

.emotions {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  row-gap: 2rem;
}

.emotion {
  text-align: center;
  background-color: #feea9d;
  height: 50px;
  border-radius: 3rem;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emotion:hover {
  transition: all 0.1s ease-in-out;
  transform: translate(-2px, -2px);
  height: 47px;
}

.emotion.selected {
  background-color: #fbc20f;
  color: #fff;
}

.button {
  width: 186px;
  height: 65px;
  border-radius: 50px;
  background-color: #fbc20f;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s;
  margin: 60px auto 0;
  display: block;
}

.button:hover {
  opacity: 0.85;
}

.skipContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skip {
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  color: #606060;
  text-decoration: underline;
  margin-top: 63px;
}
