/* Byeonghyeon Kang */

.section {
  height: 100vh;
  background-color: #fffbda;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 69px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 661px;
  height: 456px;
  background-color: #ffeead;
  border-radius: 12px;
}

.flexBox {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.select {
  display: flex;
  margin-bottom: 46px;
}

.select div {
  margin-right: 46px;
}

.select div:last-of-type {
  margin-right: 0px;
}

.select input[type="radio"] {
  display: none;
}

.select input[type="radio"]+label {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 77px;
  width: 175px;
  border: 1px solid #3c3b3b;
  color: #3c3b3b;
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.select input[type="radio"]+label:hover {
  transform: translate(-2px, -2px);
}

.select input[type="radio"]:checked+label {
  background-color: #ffdc57;
}

.age {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 175px;
  height: 77px;
  font-size: 28px;
  font-weight: 700;
  background-color: #fbc20f;
  color: #3c3b3b;
  margin-right: 28px;
}

.inputAge {
  box-sizing: border-box;
  width: 251px;
  height: 77px;
  border-radius: 30px;
  font-size: 20px;
  padding-left: 24px;
  outline: none;
  border: none;
}

.button {
  width: 186px;
  height: 65px;
  border-radius: 50px;
  background-color: #fbc20f;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  opacity: 0.85;
}