 /* Byeonghyeon Kang */

.container {
  height: 100%;
  background-color: #fffbda;
  padding-bottom: 60px;
}

.pageTitleContainer {
  height: 127px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  background-color: #fbc20f;
  width: 525px;
  height: 65px;
  font-weight: 700;
}

.innerContainer {
  max-width: 1220px;
  margin: 0 auto;
}

.activity {
  display: flex;
  background-color: #fff3c3;
  padding: 24px 36px;
  border-radius: 15px;
  margin-bottom: 59px;
}

.activity:last-child {
  margin-bottom: 0;
}

.imageContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 54px;
}

.title {
  font-size: 21px;
  font-weight: 700;
  margin-right: 10px;
  color: #3c3b3b;
}

.activityInfo {
  display: flex;
  margin-bottom: 29px;
}

.list {
  width: 30px;
}

.stars {
  display: flex;
  justify-content: flex-start;
}

.star {
  width: 24px;
  height: 24px;
}

.description {
  font-size: 20px;
  font-weight: 500;
  color: #404040;
}
