.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 350px;
  background-color: #ffeead;
  border-radius: 20px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out forwards;
}

.container.memoModal {
  width: 802px;
  height: 554px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container--stress-input {
  padding: 20px;
  height: 200px;
}

.inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner.ratingInner {
  display: block;
  text-align: center;
}

.innerTitle {
  font-size: 20px;
  font-weight: 600;
  font-family: "NanumGothic";
}

.description {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 48px;
}

.button {
  color: #fff;
  width: 170px;
  height: 45px;
  outline: none;
  border: none;
  background-color: #fbc20f;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.button:hover {
  opacity: 0.85;
}

.stressInput {
  width: 433px;
  height: 50px;
  border-radius: 20px;
  background-color: #ffd964;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.progressBar {
  height: 50px;
  position: absolute;
  left: 0;
  border-radius: 20px;
  background-color: #fbc20f;
}

.memo {
  font-size: 20px;
  background-color: transparent;
  outline: none;
  width: 500px;
  height: 300px;
  border: none;
  margin: 20px 0 20px 0;
}

.ratingInput {
  margin: 2rem 0;
  text-align: center;
  color: #9b9b9b;
  font-size: 1.6rem;
}

.ratingStar {
  content: "";
  width: 25px;
  height: 50px;
  display: inline-block;
  background-image: url("../../assets/star.svg");
  background-position-x: 50px;
  cursor: pointer;
}

.ratingStar:nth-child(even) {
  background-position-x: 25px;
}

.ratingStar.selected_left {
  background-position: 100px;
}

.ratingStar.selected_right {
  background-position-x: 75px;
}
