.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 350px;
  background-color: #ffeead;
  border-radius: 20px;
}

.container--stress-input {
  height: 150px;
}

.inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerTitle {
  font-size: 20px;
  font-weight: 600;
  font-family: "NanumGothic";
}

.description {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 48px;
}

.button {
  color: #fff;
  width: 170px;
  height: 45px;
  outline: none;
  border: none;
  background-color: #fbc20f;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.button:hover {
  opacity: 0.85;
}

.stressInput {
  width: 433px;
  height: 50px;
  border-radius: 20px;
  background-color: #ffd964;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.progressBar {
  height: 50px;
  position: absolute;
  left: 0;
  border-radius: 20px;
  background-color: #fbc20f;
}
